/* vairables */
:root {
  --main-font: 'Bellefair', serif;
  --secondary-font: 'Barlow Condensed', sans-serif;
  --body-font: 'Barlow', sans-serif;
  --dark-blue: #0b0d17;
  --light-blue: #d0d6f9;
  --white: #fff;
  --h1: 150px;
  --h2: 100px;
  --h3: 56px;
  --h4: 32px;
  --h5: 26px;
  --mobile-proportion: 1.875;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body, html {
  font-family: var(--main-font);
}

h1 {
  font-size: calc(var(--h1) / var(--mobile-proportion) );
  line-height: 100px;
  margin: 1rem 0;
}

h2 {
  font-family: var(--main-font);
  font-size: calc(var(--h2) / var(--mobile-proportion) ) ;
}

h3 {
  font-family: var(--main-font);
  font-size: calc(var(--h3) / var(--mobile-proportion) ) ;
}

h4 {
  font-family: var(--main-font);
  font-size: calc(var(--h4) / var(--mobile-proportion) ) ;
  line-height: 19.2px;
}

h5 {
  font-family: var(--secondary-font);
  font-size: calc(var(--h5) / var(--mobile-proportion) ) ;
  color: var(--light-blue);
}

.sub-h1 {
  font-family: var(--main-font);
  font-size: 28px;
}

.sub-h2 {
  font-family:var(--secondary-font);
  font-size: 14px;
  letter-spacing: 2.35px;
}

p {
  line-height: 25px;
  font-family: var(--body-font);
  font-size: 18px;
}

/* Reset button style */

button {
  font-family: var(--secondary-font);
  font-size: 16px;
  letter-spacing: 2.7;
  background-color: transparent;
  border: none;
  margin: 0.5rem;
  cursor: pointer;
}

/* Navbar number tag */
.number-tag {
  font-weight: bold;
}

body {
  position: relative;
}